<h1> Edit Employee Information </h1>

<%= form_for(@employee) do |f| %>
	<div>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name, class: 'form-control' %>
	</div>
	<div>
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name, class: 'form-control' %>
	</div>
	<div>
		<%= f.label :email %><br>
  	<%= f.email_field :email, class: 'form-control' %>
  </div>
  <div>
  	<%= f.label :phone %><br>
  	<%= f.phone_field :phone, class: 'form-control' %>
  </div>
  <div>
  	<%= f.submit "Save changes", class: "btn btn-primary" %>
	</div>
<% end %>

