<h1><%= "#{@employee.first_name} #{@employee.last_name}" %></h1>

<p>Email: <%= @employee.email %></p>
<p>Phone: <%= @employee.phone %></p>


<%= link_to "Edit Information", edit_employee_path(@employee) %>
<%= link_to "Delete Employee", @employee, method: :delete, data: {confirm: "You Sure?"} %>



