<h1><%= "#{@employee.first_name} #{@employee.last_name}" %></h1>

<div>Email: <%= @employee.email %></div>
<div>Phone: <%= @employee.phone %></div>


<%= link_to "Edit Information", edit_employee_path(@employee) %>
<%= link_to "Delete Employee", @employee, method: :delete, data: {confirm: "You Sure?"} %>



