<div class="col-md-3">

<%= form_for([current_office, employee]) do |f| %>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :office %><br>
    <%= f.select :office_id,  @offices.map { |office| [office.name, office.id] } %><br>
  </div>
  <div class="form-group">
    <% submit_text = f.object.new_record? ? 'Save' : "Save changes" %>
    <%= f.submit submit_text, class: "btn btn-dark" %>
  </div>
<% end %>

</div>