<h1><%= employee_full_name(@employee) %></h1>

<div>Email: <%= @employee.email %></div>
<div>Phone: <%= @employee.phone %></div>

<br>

<div>Office: <%= @employee.office.name %></div>

<br>


<%= link_to "Edit Information", edit_office_employee_path(current_office, @employee), class: "btn btn-dark" %>
<%= link_to "Delete Employee", office_employee_path(current_office, @employee), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete this employee? All of their information and upcoming assignments will be deleted!"} %>



