<h1><%= employee_full_name(@employee) %></h1>

<div>Email: <%= @employee.email %></div>
<div>Phone: <%= @employee.phone %></div>

<br>

<div>Office: <%= @employee.office.name %></div>

<br>


<%= link_to "Edit Information", edit_employee_path(@employee) %>
<%= link_to "Delete Employee", office_employee_path(@current_office, @employee), method: :delete, data: {confirm: "You Sure?"} %>



