

<h1><%= @current_office.name %> Kitchen Schedule</h1>


<table class="table table-sm table-borderless" id="assignments_table">
  <thead class="thead-dark">
    <tr>
      <th id="table-header">
        Dates
      </th>
      <th id="table-header">
        Employees
      </th>

      <th id=table-header></th>
  
      <% if can_edit_weeks? %>
        <th id="edit_weeks"></th>
      <% end %>
      </tr>
    </thead>
  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td>
          <%= print_date(week) %>
        </td>
    
        <% week_assignments = week.employees.order(:first_name) %>
        <% week_assignments.each do |employee| %>
          <td>
            <%= "#{employee.first_name}" %>
          </td>
        <% end %>
    
        <% if !week.fully_assigned? %>
          <% (2 - week_assignments.count).times do %>
            <td><b>EMPTY</b></td>
          <% end %>
        <%end%>
      
        <% if can_edit_weeks? %>
          <td id="edit_weeks">
            <%= link_to "Edit Week", edit_office_assignment_path(current_office, week) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>
        <% if can_create_weeks? %>
          <div id="create_week">
            <%= link_to "Add Week", new_office_week_path(current_office) %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

