<h1>Kitchen Schedule</h1>

<h3>Select Office.</h3>
<% Office.find_each do |office| %>
  <div><%= link_to office.office_name, assignments_path(office_id: office) %></div>
<% end %>

<br>

<div>Currently Showing: <%= @office.office_name %></div>

<br>

<table>
<tr>
  <th>
    Dates
  </th>
  <th>
    Employees
  </th>
</tr>

<% @weeks.each do |week| %>
  <tr>
    <td>
      <%= print_date(week) %>
    </td>
    
    <% week_assignments = get_weekly_office_assignments(week, @office) %>
    <% week_assignments.each do |assignment| %>
      <td>
        <%= "#{assignment.employee.first_name}" %>
      </td>
    <% end %>
    
    <% if week_assignments.count != 2 %>
      <% (2 - week_assignments.count).times do %>
        <td><b>EMPTY</b></td>
      <% end %>
    <%end%>
      
      <td>
        <% if can_edit_weeks %>
          <%= link_to "Edit Week", edit_assignment_path(week, office_id: @office) %>
        <% end %>
      </td>
  </tr>
<% end %>
<tr>
  <td>
    <% if can_add_weeks %>
      <%= link_to "Add Week", new_week_path %>
    <% end %>
  <td>
</tr>

</table>


