
<h1><%= current_office.name %> Kitchen Schedule</h1>

<%= form_for(:assignments, html: { id: "swapping-form" }) do |form|%>

<table class="table table-sm table-borderless" id="assignments_table">
  <thead class="thead-dark">
    <tr>
      <th class="table-header">
        Dates
      </th>
      <th class="table-header">
        Employees
      </th>

      <th class="table-header"></th>
    </tr>
  </thead>
  <tbody>

    <% @weeks.each do |week| %>
      <tr>
        <td>
          <%= print_date(week) %>
        </td>

        <% week_assignments = week.assignments.order(:created_at) %>
        <% week_assignments.each do |assignment| %>
          <td>
            <%= form.check_box :assignment_id, { multiple: true, class: "checkbox" }, assignment.id, false %>
            <%= form.label :assignment, assignment.employee.display_name %>
          </td>
        <% end %>

        <% if !week.fully_assigned? %>
          <% (2 - week_assignments.count).times do %>
            <td><b>EMPTY</b></td>
          <% end %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
  <%= form.submit "Swap", class: "btn btn-dark", id: "submit-btn" %>
  <div id="form-error-div"></div>
</div>
<%= link_to "Back", office_assignments_path(current_office), class: "btn btn-dark" %>


<% end %>
