<!DOCTYPE html>
<html>
  <head>
    <title>MrClean</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Home", offices_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <% if can_index_employees? %>
              <li class="nav-item"><%= link_to "Schedule", office_assignments_path(current_office), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Employees", office_employees_path(current_office),  class: "nav-link" %></li>
          <% end %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Log In", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <br>

  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
