<!DOCTYPE html>
<html>
  <head>
    <title>MrClean</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <% if is_logged_in %>
      <%= link_to "Logout", destroy_user_session_path %>
    <%else%>
      <%= link_to "Login", new_user_session_path %>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <hr>
    
    <% if can_access_employee_information_page %>
      <%= link_to "Schedule", assignments_path %>
      <%= link_to "Employees", employees_path %>
    <% end %>

    <%= yield %>

  </body>
</html>
