<!DOCTYPE html>
<html>
  <head>
    <title>MrClean</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Schedule", assignment_index_path %>
  	<%= link_to "Employees", employee_index_path %>

    <%= yield %>

  </body>
</html>
