<!DOCTYPE html>
<html>
  <head>
    <title>MrClean</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <hr>
    
    <% if(!@home_page) %> 
        <%= link_to "Home", offices_path %>
      <% if can_index_employees? %>
        <%= link_to "Schedule", office_assignments_path(current_office) %>
        <%= link_to "Employees", office_employees_path(current_office) %>
      <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>
